<%= form_for(invoice) do |f| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %>
    <%= f.number_field :client_id %>
  </div>

  <div class="field">
    <%= f.label :client_email %>
    <%= f.text_field :client_email %>
  </div>

  <div class="field">
    <%= f.label :billing_address %>
    <%= f.text_area :billing_address %>
  </div>

  <div class="field">
    <%= f.label :invoice_date %>
    <%= f.date_select :invoice_date %>
  </div>

  <div class="field">
    <%= f.label :due_date %>
    <%= f.date_select :due_date %>
  </div>

  <div class="field">
    <%= f.label :tax_type %>
    <%= f.text_field :tax_type %>
  </div>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>

  <div class="field">
    <%= f.label :statement %>
    <%= f.text_area :statement %>
  </div>

  <div class="field">
    <%= f.label :discount_type %>
    <%= f.text_field :discount_type %>
  </div>

  <div class="field">
    <%= f.label :discount %>
    <%= f.text_field :discount %>
  </div>

  <div class="field">
    <%= f.label :attachment %>
    <%= f.text_field :attachment %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
