<%= nested_form_for(invoice) do |f| %>
  <% if invoice.errors.any? %>
    <div class="alert">
      <div class="row">
        <div class="col s12">
          <div class="card-panel red">
            <span class="white-text">         
              <div id="error_explanation">
                <h6><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h6>

                <ul>
                <% invoice.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %>
    <%= f.collection_select :client_id, Client.all, :id, :first_name, prompt: "Select Client" %>
  </div>

  <div class="field">
    <%= f.label :client_email %>
    <%= f.text_field :client_email %>
  </div>

  <div class="field">
    <%= f.label :billing_address %>
    <%= f.text_area :billing_address %>
  </div>

  <div class="field">
    <%= f.label :invoice_date %>
    <%= f.date_select :invoice_date %>
  </div>

  <div class="field">
    <%= f.label :due_date %>
    <%= f.date_select :due_date %>
  </div>

  <div class="field">
    <label>Select Products: </label>
    <table id="nested-table" border="1">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th><i class="material-icons" id="add" style="cursor: pointer;">add</i></th>
        </tr>       
      </thead>
      <tbody>

      </tbody>  
    </table>
  </div>

  <div class="field">
    <%= f.label :tax_id %>
    <%= f.collection_select :tax_id, Tax.all, :id, :name, prompt: "Select Tax Type" %>
  </div>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>

  <div class="field">
    <%= f.label :statement %>
    <%= f.text_area :statement %>
  </div>

  <div class="field">
    <%= f.label :discount_type_id %>
    <%= f.collection_select :discount_type_id, DiscountType.all, :id, :name, prompt: "Select Discount Type" %>
  </div>

  <div class="field">
    <%= f.label :discount %>
    <%= f.text_field :discount %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <%= f.label :attachment %>
    <%= f.file_field :attachment %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){    
    $("#invoice_client_id").change(function() {
      var data = "invoice=" + $( "#invoice_client_id" ).val();
      $.ajax({
        url: "/clients/get_client",
        data: data,
        method: "get",
        dataType: 'json',
        statusCode: {
          200: function(res){
            // console.log(res.email);
            $("#invoice_client_email").val(res.email);
            $("#invoice_billing_address").val(res.b_address);
          }
        }
      });
    }); 

    $("table").removeClass();
    $("table").parent().removeClass();
    $("td").removeClass();
    $("th").removeClass();

    $("td").css("width", "auto");
    $("th").css("width", "auto");

    var products = <%= @products.html_safe %>;

    $("#add").click(function(){
      $("#nested-table tbody").append("<tr><td><select name=\"invoice[product_ids]\" id=\"invoice_product_ids\" tabindex=\"-1\"></td><td><input type=\"text\" style=\"text-align:center\"></td><td><i class=\"material-icons\" id=\"delete\" style=\"cursor: pointer;\">delete</i></td></tr>");

      console.log(products);

      $.each(products, function (i, item) {
        $('#invoice_product_ids').append($('<option>', { 
            value: i,
            text : item.name 
        }));
      });

      $("select").select2()
    });

    $(document).on('click','#delete',function(){
      $("#nested-table tr:last").remove();
    });

    $("#mul").click(function(){
      $("#nested-table tr:last").remove();
    });   

  });
</script>

