<p id="notice"><%= notice %></p>

<h1>Clients</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Code</th>
      <th>Email</th>
      <th>Phone</th>
      <th>S address</th>
      <th>B address</th>
      <th>Website</th>
      <th>Notes</th>
      <th>Tax reg no</th>
      <th>Cst reg no</th>
      <th>Pan</th>
      <th>Payment method</th>
      <th>Opening balance</th>
      <th>Opening balance date</th>
      <th>Attachment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.first_name %></td>
        <td><%= client.last_name %></td>
        <td><%= client.code %></td>
        <td><%= client.email %></td>
        <td><%= client.phone %></td>
        <td><%= client.s_address %></td>
        <td><%= client.b_address %></td>
        <td><%= client.website %></td>
        <td><%= client.notes %></td>
        <td><%= client.tax_reg_no %></td>
        <td><%= client.cst_reg_no %></td>
        <td><%= client.pan %></td>
        <td><%= client.payment_method %></td>
        <td><%= client.opening_balance %></td>
        <td><%= client.opening_balance_date %></td>
        <td><%= client.attachment %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
