<%= form_for(vendor) do |f| %>
  <% if vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% vendor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :pan %>
    <%= f.text_field :pan %>
  </div>

  <div class="field">
    <%= f.label :account_no %>
    <%= f.text_field :account_no %>
  </div>

  <div class="field">
    <%= f.label :opening_balance %>
    <%= f.text_field :opening_balance %>
  </div>

  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>

  <div class="field">
    <%= f.label :tax_reg_no %>
    <%= f.text_field :tax_reg_no %>
  </div>

  <div class="field">
    <%= f.label :tax_reg_date %>
    <%= f.date_select :tax_reg_date %>
  </div>

  <div class="field">
    <%= f.label :tds %>
    <%= f.check_box :tds %>
  </div>

  <div class="field">
    <%= f.label :entity %>
    <%= f.text_field :entity %>
  </div>

  <div class="field">
    <%= f.label :section %>
    <%= f.text_field :section %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
