<%= form_for(vendor) do |f| %>
  <<% if vendor.errors.any? %>
    <div class="alert">
      <div class="row">
        <div class="col s12">
          <div class="card-panel red">
            <span class="white-text">         
              <div id="error_explanation">
                <h6><%= pluralize(vendor.errors.count, "error") %> prohibited this vendor from being saved:</h6>

                <ul>
                <% vendor.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :s_address %>
    <%= f.text_area :s_address %>
  </div>

  <div class="field">
    <%= f.label :b_address %>
    <%= f.text_area :b_address %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
