<% if alert %>
  <div class="alert">
    <div class="row">
      <div class="col s12">
        <div class="card-panel red">
          <span class="white-text">         
            <div id="error_explanation">
               <p id="alert"><%= alert %></p>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div> 
<% end %>

<% if notice %>
  <div class="alert">
    <div class="row">
      <div class="col s12">
        <div class="card-panel green">
          <span class="white-text">         
            <div id="error_explanation">
               <p id="notice"><%= notice %></p>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div> 
<% end %>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @vendor.code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @vendor.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @vendor.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @vendor.address %>
</p>

<p>
  <strong>Pan:</strong>
  <%= @vendor.pan %>
</p>

<p>
  <strong>Account no:</strong>
  <%= @vendor.account_no %>
</p>

<p>
  <strong>Opening balance:</strong>
  <%= @vendor.opening_balance %>
</p>

<p>
  <strong>Website:</strong>
  <%= @vendor.website %>
</p>

<p>
  <strong>Tax reg no:</strong>
  <%= @vendor.tax_reg_no %>
</p>

<p>
  <strong>Tax reg date:</strong>
  <%= @vendor.tax_reg_date %>
</p>

<p>
  <strong>Tds:</strong>
  <%= @vendor.tds %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @vendor.entity %>
</p>

<p>
  <strong>Section:</strong>
  <%= @vendor.section %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
