<p id="notice"><%= notice %></p>

<h1>Payment Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @payment_types.each do |payment_type| %>
      <tr>
        <td><%= payment_type.name %></td>
        <td><%= link_to 'Show', payment_type %></td>
        <td><%= link_to 'Edit', edit_payment_type_path(payment_type) %></td>
        <td><%= link_to 'Destroy', payment_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment Type', new_payment_type_path %>
