<%= form_for(discount_type) do |f| %>
  <% if discount_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(discount_type.errors.count, "error") %> prohibited this discount_type from being saved:</h2>

      <ul>
      <% discount_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :percentage %>
    <%= f.text_field :percentage %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
