<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <label>Select Sub-Category: </label>
    <%= f.collection_check_boxes :sub_category_ids, SubCategory.all, :id, :name do |b| %> 
    <%= b.check_box %> 
    <%= b.label %> 
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
