<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div class="alert">
      <div class="row">
        <div class="col s12">
          <div class="card-panel red">
            <span class="white-text">         
              <div id="error_explanation">
                <h6><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h6>

                <ul>
                <% category.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>      
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <label>Select Sub-Category: </label>
    <%= f.collection_select :sub_category_ids, SubCategory.all , :id, :name, {},
         {:prompt => "Select Sub Category ", :multiple => true } %> <br><br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
