<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Description</th>
      <th>Image</th>
      <th>Cost</th>
      <th>Quantity</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <div class="row">
    <% @products.each do |product| %>
    <% @product_image = product.image %>
    <% @product_title = product.name %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.code %></td>
        <td><%= product.description %></td>
        <td><a class="modal-trigger waves-effect waves-light" href="#modal"><%= image_tag product.image, height: "80px", width: "auto" %></td></a>
        <td><%= product.cost %></td>
        <td><%= product.quantity %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </div>
  </tbody>
</table>

<!-- Modal Structure -->
  <div id="modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <%= image_tag @product_image, class: "responsive-img" %>
    </div>
    <div class="modal-footer">
      <%= @product_title %>
    </div>
  </div>

<br>

<%= link_to 'New Product', new_product_path %>

<script>
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>