<% if alert %>
  <div class="alert">
    <div class="row">
      <div class="col s12">
        <div class="card-panel red">
          <span class="white-text">         
            <div id="error_explanation">
               <p id="alert"><%= alert %></p>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div> 
<% end %>

<% if notice %>
  <div class="alert">
    <div class="row">
      <div class="col s12">
        <div class="card-panel green">
          <span class="white-text">         
            <div id="error_explanation">
               <p id="notice"><%= notice %></p>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div> 
<% end %>

<h1>Products</h1>

<div class="left">
  <h5>Import Products</h5>

  <%= form_tag import_products_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %><br>
  <% end %>
</div>

<div>
  <%= link_to "Export to excel", products_path(format: "xls") %> |   
  <%= link_to "Export to CSV", products_path(format: "csv") %> |
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Description</th>
      <th>Image</th>
      <th>Cost</th>
      <th>Quantity</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <div class="row">
    <% @products.each do |product| %>
    <% @product_image = product.image %>
    <% @product_title = product.name %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.code %></td>
        <td><%= product.description %></td>
        <td><a class="modal-trigger waves-effect waves-light" href="#modal"><%= image_tag product.image, height: "80px", width: "auto" %></td></a>
        <td><%= product.cost %></td>
        <td><%= product.quantity %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </div>
  </tbody>
</table>

<!-- Modal Structure -->
  <div id="modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <% unless @product_image.nil? %>
        <%= image_tag @product_image, class: "responsive-img" %>
      <% end %>
    </div>
    <div class="modal-footer">
      <%= @product_title %>
    </div>
  </div>

<br>

<%= link_to 'New Product', new_product_path %>

<script>
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>