<% if alert %>
  <div class="alert">
    <div class="row">
      <div class="col s12">
        <div class="card-panel red">
          <span class="white-text">         
            <div id="error_explanation">
               <p id="alert"><%= alert %></p>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div> 
<% end %>

<% if notice %>
  <div class="alert">
    <div class="row">
      <div class="col s12">
        <div class="card-panel green">
          <span class="white-text">         
            <div id="error_explanation">
               <p id="notice"><%= notice %></p>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div> 
<% end %>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @product.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @product.image, class: "img-responsive" %> 
</p>

<p>
  <strong>Cost:</strong>
  <%= @product.cost %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
